@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url("@/assets/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("@/assets/fonts/Montserrat-Regular.ttf");
}
