@import "./font";

$font-family-default: "Montserrat-Regular";
$font-family-play-fair: "PlayfairDisplay-Regular";
$gray-text: #c4c4c4;
$gray-text-e5: #e5e5e5;
$neutral-n500: #757575;
$neutral-n100: #eee;
$neutral-n50: #f6f6f6;
$blue-500: #079bee;
