#svg-down {
  width: 10px;
  height: 5px;
  margin-left: 5px;
}

.drop-down {
  margin: 0 8px;

  &__item {
    display: flex;
    align-items: center;

    div {
      min-width: 30px;
      display: flex;
      align-items: center;
    }

    p {
      padding-left: 5px;
    }
  }
}

.drop-down:first-child {
  border-bottom: 1px solid $gray-text;
}

#check-box {
  width: 20px;
  height: 14px;
  color: black;
}
