.drop-down-navbar {
  z-index: 999999;
  background: white;
  position: relative;
  height: 100vh;

  #close {
    width: 30px;
    height: 30px;
  }

  &__select {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  &__button {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 0 16px;

    a {
      font-weight: 700;
      line-height: 18px;
      color: black;
      text-transform: uppercase;
      padding: 24px 0;
    }

    a:not(:last-child) {
      border-bottom: 1px solid $gray-text-e5;
    }
  }
}
